USE [BenefitsManagementSystem]
GO
/****** Object:  Table [dbo].[BenefitCategories]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenefitCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[LegalBasis] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateID] [int] IDENTITY(1,1) NOT NULL,
	[CertificateNumber] [nvarchar](50) NOT NULL,
	[CitizenID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[ExpiryDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[IssuedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitizenBenefits]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitizenBenefits](
	[CitizenBenefitID] [int] IDENTITY(1,1) NOT NULL,
	[CitizenID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[BenefitNumber] [nvarchar](50) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CitizenBenefitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitizenDocuments]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitizenDocuments](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[CitizenID] [int] NOT NULL,
	[DocTypeID] [int] NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[IssueDate] [date] NULL,
	[IssuedBy] [nvarchar](255) NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citizens]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citizens](
	[CitizenID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[BirthDate] [date] NOT NULL,
	[SNILS] [nvarchar](14) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[RegionID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CitizenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypes]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypes](
	[DocTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DocTypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventLog]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[EventType] [nvarchar](100) NOT NULL,
	[EventDescription] [nvarchar](1000) NOT NULL,
	[EntityType] [nvarchar](100) NULL,
	[EntityID] [int] NULL,
	[IPAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](100) NOT NULL,
	[RegionCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.10.2025 1:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BenefitCategories] ON 

INSERT [dbo].[BenefitCategories] ([CategoryID], [CategoryName], [Description], [LegalBasis], [IsActive]) VALUES (1, N'??????? ?????', N'?????? ????????? ?????', N'?? "? ?????????"', 1)
INSERT [dbo].[BenefitCategories] ([CategoryID], [CategoryName], [Description], [LegalBasis], [IsActive]) VALUES (2, N'??????? ?????? ????????', N'?????? ????????? ?????? ????????', N'?? "? ?????????"', 1)
INSERT [dbo].[BenefitCategories] ([CategoryID], [CategoryName], [Description], [LegalBasis], [IsActive]) VALUES (3, N'??????? I ??????', N'?????? ????????? I ??????', N'?? "? ?????????? ?????? ?????????"', 1)
SET IDENTITY_INSERT [dbo].[BenefitCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentTypes] ON 

INSERT [dbo].[DocumentTypes] ([DocTypeID], [DocTypeName], [Description]) VALUES (1, N'??????? ?????????? ??', N'???????? ????????, ?????????????? ???????? ?????????? ??')
INSERT [dbo].[DocumentTypes] ([DocTypeID], [DocTypeName], [Description]) VALUES (2, N'?????', N'????????? ????? ??????????????? ???????? ?????')
INSERT [dbo].[DocumentTypes] ([DocTypeID], [DocTypeName], [Description]) VALUES (3, N'???', N'????????????????? ????? ?????????????????')
SET IDENTITY_INSERT [dbo].[DocumentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([RegionID], [RegionName], [RegionCode]) VALUES (1, N'??????', 77)
INSERT [dbo].[Regions] ([RegionID], [RegionName], [RegionCode]) VALUES (2, N'?????-?????????', 78)
INSERT [dbo].[Regions] ([RegionID], [RegionName], [RegionCode]) VALUES (3, N'?????????? ???????', 50)
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (1, N'?????????????', N'?????? ?????? ? ???????')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (2, N'?????????', N'?????? ? ???????? ???????? ???????')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (3, N'????????', N'?????? ? ??????? ????????')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [FirstName], [LastName], [MiddleName], [RoleID], [IsActive], [CreatedAt], [LastLogin]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', NULL, N'?????????????', N'???????', NULL, 1, 1, CAST(N'2025-10-06T04:19:16.230' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Citizens__7EB2A6F990BFFC66]    Script Date: 10.10.2025 1:51:31 ******/
ALTER TABLE [dbo].[Citizens] ADD UNIQUE NONCLUSTERED 
(
	[SNILS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4569F87BB]    Script Date: 10.10.2025 1:51:31 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BenefitCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT ('?????????????') FOR [Status]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CitizenBenefits] ADD  DEFAULT ('???????') FOR [Status]
GO
ALTER TABLE [dbo].[CitizenBenefits] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CitizenDocuments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Citizens] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Citizens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EventLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BenefitCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD FOREIGN KEY([CitizenID])
REFERENCES [dbo].[Citizens] ([CitizenID])
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD FOREIGN KEY([IssuedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CitizenBenefits]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BenefitCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[CitizenBenefits]  WITH CHECK ADD FOREIGN KEY([CitizenID])
REFERENCES [dbo].[Citizens] ([CitizenID])
GO
ALTER TABLE [dbo].[CitizenBenefits]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CitizenDocuments]  WITH CHECK ADD FOREIGN KEY([CitizenID])
REFERENCES [dbo].[Citizens] ([CitizenID])
GO
ALTER TABLE [dbo].[CitizenDocuments]  WITH CHECK ADD FOREIGN KEY([DocTypeID])
REFERENCES [dbo].[DocumentTypes] ([DocTypeID])
GO
ALTER TABLE [dbo].[Citizens]  WITH CHECK ADD FOREIGN KEY([RegionID])
REFERENCES [dbo].[Regions] ([RegionID])
GO
ALTER TABLE [dbo].[EventLog]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([RoleID])
GO
