USE [BenefitsManagementSystem]
GO
/****** Object:  Table [dbo].[BenefitCategories]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenefitCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[LegalBasis] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateID] [int] IDENTITY(1,1) NOT NULL,
	[CertificateNumber] [nvarchar](50) NOT NULL,
	[CitizenID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[ExpiryDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[IssuedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitizenBenefits]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitizenBenefits](
	[CitizenBenefitID] [int] IDENTITY(1,1) NOT NULL,
	[CitizenID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[BenefitNumber] [nvarchar](50) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CitizenBenefitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitizenDocuments]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitizenDocuments](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[CitizenID] [int] NOT NULL,
	[DocTypeID] [int] NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[IssueDate] [date] NULL,
	[IssuedBy] [nvarchar](255) NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citizens]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citizens](
	[CitizenID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[BirthDate] [date] NOT NULL,
	[SNILS] [nvarchar](14) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[RegionID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CitizenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypes]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypes](
	[DocTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DocTypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventLog]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[EventType] [nvarchar](100) NOT NULL,
	[EventDescription] [nvarchar](1000) NOT NULL,
	[EntityType] [nvarchar](100) NULL,
	[EntityID] [int] NULL,
	[IPAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](100) NOT NULL,
	[RegionCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.10.2025 3:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BenefitCategories] ON 

INSERT [dbo].[BenefitCategories] ([CategoryID], [CategoryName], [Description], [LegalBasis], [IsActive]) VALUES (1, N'Ветеран труда', N'Льготы ветеранов труда', N'ФЗ "О ветеранах"', 1)
INSERT [dbo].[BenefitCategories] ([CategoryID], [CategoryName], [Description], [LegalBasis], [IsActive]) VALUES (2, N'Ветеран боевых действий', N'Льготы ветеранов боевых действий', N'ФЗ "О ветеранах"', 1)
INSERT [dbo].[BenefitCategories] ([CategoryID], [CategoryName], [Description], [LegalBasis], [IsActive]) VALUES (3, N'Инвалид I группы', N'Льготы инвалидов I группы', N'ФЗ "О социальной защите инвалидов"', 1)
SET IDENTITY_INSERT [dbo].[BenefitCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Citizens] ON 

INSERT [dbo].[Citizens] ([CitizenID], [LastName], [FirstName], [MiddleName], [BirthDate], [SNILS], [PhoneNumber], [Email], [Address], [RegionID], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Чирков', N'Алексей', N'Денисович', CAST(N'2006-01-01' AS Date), N'12602903624', N'+79221324596', N'chirkov@gmail.com', N'г. Сургуг, Пролетарская ул., д.9, кв. 67', 4, 1, CAST(N'2025-10-10T02:58:16.937' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Citizens] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentTypes] ON 

INSERT [dbo].[DocumentTypes] ([DocTypeID], [DocTypeName], [Description]) VALUES (1, N'Паспорт гражданина РФ', N'Основной документ, удостоверяющий личность гражданина РФ')
INSERT [dbo].[DocumentTypes] ([DocTypeID], [DocTypeName], [Description]) VALUES (2, N'СНИЛС', N'Страховой номер индивидуального лицевого счета')
INSERT [dbo].[DocumentTypes] ([DocTypeID], [DocTypeName], [Description]) VALUES (3, N'ИНН', N'Идентификационный номер налогоплательщика')
SET IDENTITY_INSERT [dbo].[DocumentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[EventLog] ON 

INSERT [dbo].[EventLog] ([LogID], [UserID], [EventType], [EventDescription], [EntityType], [EntityID], [IPAddress], [UserAgent], [CreatedAt]) VALUES (1, 1, N'Авторизация', N'Пользователь admin вошел в систему', NULL, NULL, NULL, NULL, CAST(N'2025-10-10T02:37:05.773' AS DateTime))
INSERT [dbo].[EventLog] ([LogID], [UserID], [EventType], [EventDescription], [EntityType], [EntityID], [IPAddress], [UserAgent], [CreatedAt]) VALUES (2, 1, N'Выход из системы', N'Пользователь admin вышел из системы', NULL, NULL, NULL, NULL, CAST(N'2025-10-10T02:37:25.977' AS DateTime))
INSERT [dbo].[EventLog] ([LogID], [UserID], [EventType], [EventDescription], [EntityType], [EntityID], [IPAddress], [UserAgent], [CreatedAt]) VALUES (3, 1, N'Авторизация', N'Пользователь admin вошел в систему', NULL, NULL, NULL, NULL, CAST(N'2025-10-10T02:39:31.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([RegionID], [RegionName], [RegionCode]) VALUES (1, N'Москва', 77)
INSERT [dbo].[Regions] ([RegionID], [RegionName], [RegionCode]) VALUES (2, N'Санкт-Петербург', 78)
INSERT [dbo].[Regions] ([RegionID], [RegionName], [RegionCode]) VALUES (3, N'Московская область', 50)
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Администратор', N'Полный доступ к системе')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Оператор', N'Доступ к основным функциям системы')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Гражданин', N'Доступ к личным данным')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [FirstName], [LastName], [MiddleName], [RoleID], [IsActive], [CreatedAt], [LastLogin]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', NULL, N'Администратор', N'Системы', NULL, 1, 1, CAST(N'2025-10-06T04:19:16.230' AS DateTime), CAST(N'2025-10-10T02:57:02.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Citizens__7EB2A6F990BFFC66]    Script Date: 10.10.2025 3:12:31 ******/
ALTER TABLE [dbo].[Citizens] ADD UNIQUE NONCLUSTERED 
(
	[SNILS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4569F87BB]    Script Date: 10.10.2025 3:12:31 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BenefitCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT ('?????????????') FOR [Status]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CitizenBenefits] ADD  DEFAULT ('???????') FOR [Status]
GO
ALTER TABLE [dbo].[CitizenBenefits] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CitizenDocuments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Citizens] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Citizens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EventLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BenefitCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD FOREIGN KEY([CitizenID])
REFERENCES [dbo].[Citizens] ([CitizenID])
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD FOREIGN KEY([IssuedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CitizenBenefits]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BenefitCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[CitizenBenefits]  WITH CHECK ADD FOREIGN KEY([CitizenID])
REFERENCES [dbo].[Citizens] ([CitizenID])
GO
ALTER TABLE [dbo].[CitizenBenefits]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CitizenDocuments]  WITH CHECK ADD FOREIGN KEY([CitizenID])
REFERENCES [dbo].[Citizens] ([CitizenID])
GO
ALTER TABLE [dbo].[CitizenDocuments]  WITH CHECK ADD FOREIGN KEY([DocTypeID])
REFERENCES [dbo].[DocumentTypes] ([DocTypeID])
GO
ALTER TABLE [dbo].[Citizens]  WITH CHECK ADD FOREIGN KEY([RegionID])
REFERENCES [dbo].[Regions] ([RegionID])
GO
ALTER TABLE [dbo].[EventLog]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([RoleID])
GO
